<div class="container">
<br>
<div class="container" name="tab_login" style="width: 284px;">
  <div class="row" >
    <div class="card">
    <article class="card-body">
    <a routerLink='/register' class="float-right btn btn-outline-primary">Sign up</a>
    <h4 class="card-title mb-4 mt-1">Sign in</h4>
      <form #myform="ngForm" name="form" [formGroup]="form" (ngSubmit)="onSubmit_data(myform.value)">
        <div class="form-group">
          <label>Your User Name</label>
            <input formControlName="userName"  class="form-control" placeholder="Your User Name" type="text" value="">
            <div *ngIf="form.get('userName').touched && form.get('userName').invalid" class="invalid-feedback">
              <div *ngIf="form.get('userName').errors.required">กรุณากรอก userName</div>
           </div>
        </div> <!-- form-group// -->
        <div class="form-group">
          <a class="float-right" href="#">Forgot?</a>
          <label>Your password</label>
            <input formControlName="password" class="form-control" placeholder="******" type="password">
        </div> <!-- form-group// --> 
        <div class="form-group"> 
        <div class="checkbox">
          <label> <input type="checkbox"> Save password </label>
        </div> <!-- checkbox .// -->
        </div> <!-- form-group// -->  
        <div class="form-group">
            <button  type="submit" class="btn btn-primary btn-block"> Login  </button>
        </div> <!-- form-group// -->                                                           
    </form>
    </article>
  </div> <!-- card.// -->
</div>
</div>

